In [1]:
import geopandas
import numpy
import os
import json
os.chdir("../")

In [18]:
df = geopandas.read_file("data/estuaries_polygon_shp/more_precise_estuaries/more_precise_estuaries.shp")

In [19]:
df.style

In [20]:
geo_dict = {}
for i in range(len(df)):
    name = df["nom"][i]
    string = "POLYGON (("
    for longitude, latitude in numpy.dstack(df["geometry"][i].boundary.xy)[0]:
        string += f"{round(longitude, 5)} {round(latitude, 5)}, "
    string = string[:-2] + "))"
    geo_dict[name] = string

In [21]:
geo_dict

{'bouctouche': 'POLYGON ((-64.67951 46.50939, -64.6675 46.48057, -64.81592 46.4, -64.84551 46.41775, -64.67951 46.50939))',
 'cocagne': 'POLYGON ((-64.60878 46.34844, -64.59683 46.31976, -64.707 46.29665, -64.7161 46.32374, -64.60878 46.34844))',
 'west': 'POLYGON ((-63.35213 46.21183, -63.173 46.23569, -63.16701 46.16886, -63.35445 46.19325, -63.35213 46.21183))',
 'morell': 'POLYGON ((-62.69062 46.36565, -62.71031 46.37163, -62.70038 46.4286, -62.67849 46.42447, -62.69062 46.36565))',
 'dunk': 'POLYGON ((-63.81089 46.37233, -63.70096 46.37459, -63.66992 46.34123, -63.77168 46.33771, -63.81089 46.37233))'}